*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
.contanier{
    background-color: rgb(240, 255, 255);
    height: 100vh;
    font-family: sans-serif;
}
.header{
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding-top: 2rem;
}
.row{
    display: grid;
    grid-template-columns: 150vh 25vh ;
}

/*Input details*/
.col-1{
    height: 80vh;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: rgb(219, 236, 255);
    box-shadow: 10px 10px rgb(232, 232, 232) ;
}
.Person-details{
    height: 5vh;
    text-align: center;
    padding-top: 1rem;
    font-size: 1.2rem;
}
.input-section{
    height: 40vh;
    background-color: rgb(219, 236, 255);
}
.input{
    display: grid;
    grid-template-columns: auto;
    margin-right: 22rem;
    margin-left: 22rem;
    margin-top: 2rem;
}
input{
    border-width: 0;
    outline:none;
    font-size: 1.7rem;
    background-color:  rgb(219, 236, 255);
    border-bottom: 1px solid black;
}
.input,span{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: bold;
}


/*Tables portion*/
.order-hedaing{
    height: 5vh;
    text-align: center;
    padding-top: 1rem;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}
table ,tr,th,td{
   border: 2px solid black;
   border-collapse: collapse;
   text-align: center;
}
th,td{
    width: 20rem;
}
th,td{
    font-size: 2rem;
}
.NO{
    text-align: center;
}
.order-detials{
    display: grid;
    grid-template-columns: auto;
    margin-right: 22rem;
    margin-left: 22rem;
    margin-top: 2rem;
}

/*Col-2 portion*/
img{
    height: 60vh;
    /* width: 60vh; */
}
.total-price-row{

    display: grid;
    grid-template-columns: 105px  300px ;
    margin-top: 1rem;
}
.col-1-t{
    font-size: 1.3rem;
}
.col-1-t h2{
    padding-top: 1rem;
    font-size: 4rem;
}
.button{
margin-left: 20rem;
}
.btn{
    background-color: rgb(190, 225, 255);
    border-radius: 2rem;
    height: 5vh;
    width: 20vh;
    border: none;
    color: rgb(19, 18, 18);
    padding: auto auto;
    font-size: 1.4rem;
}
.btn:hover{
    transform: scale(1.04);
    cursor: pointer;
}

/* background-color: rgb(0, 100, 188); */

