*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #ebe9e9;
}
html{
    font-size: 62.5%;
}
header{
    margin-top: 1rem;
    height: 7rem;
    padding: 2rem;
    text-align: center;
    font-size: 4rem;
}
.row{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 20rem;
    margin-top: 2rem;
}
table,th ,td{
    border: 2px solid;
    font-size: 3rem;
    padding: 1rem 18rem;
    border-collapse: collapse;

}
td:hover{
    cursor: pointer;
    transform: scale(1.02);
    background-color: rgb(4, 182, 198);
    color: white;
}
.col-1 h1{
    text-align: center;
    padding: 1rem 0;
    font-size: 4rem;
}
.col-2 img{
    height: 48rem;
}
.row-order{
    display: grid;
    grid-template-columns: 10rem 10rem;
}
.col-order-1{
    background-color: rgb(254, 254, 254);
    height: 7rem;
    width:50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1rem 50rem;
    font-size: 2rem;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 50px;
}
.col-order-1:hover,.col-order-2:hover{
    transform: scale(1.05);
}
.col-order-2{
    background-color: rgb(232, 8, 8);
    color: white;
    text-decoration: none;
    height: 5rem;
    width:15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:2rem 100rem;
    font-size: 1.5rem;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 50px;
}
.row-order a{
    text-decoration: none;
    color: black;
}

/*Dialog box*/
.size{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
}
.dialog-box{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   height:  50%;
   width: 50%;
   background-color: #eee;
   box-shadow: 0 3rem 5rem rgba(0, 0,0 ,0.7)
}
.name{
    height: 7vh;
    margin: 1rem 0;
    text-align: center;
    font-size: 5rem;
}
.d-row{
    display: grid;
    grid-template-columns: auto auto;
    margin: 3rem 15rem;
}
.h1{
   margin: 3rem 20rem;
   font-size: 2.5rem;
}
.s{
    height: 7vh;
    width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: rgb(202, 124, 0);
    border-bottom: 1px solid black;
    font-weight: bolder;
}
.s:hover{
   height: 7.5vh;
   width: 31.5;
   transform: scale(1.02);
   cursor: pointer;
   background-color:rgb(253, 174, 48); 
}
.d-col-2{
    font-size: 30px;
}
.ok{
    position: relative;
    left: 50rem;
    bottom: 4.5rem;
}
.b-row{
    display: grid;
    grid-template-columns: 100px 100px ;
}
.btn{
    height: 5vh;
    width: 10vh;
    cursor: pointer;
}
.color{
    background-color: rgb(3, 140, 245);
    color: white;
    border: 0.5px solid black;
}
.color:hover{
    background-color: rgb(0, 129, 210);
    color: white;
    border: 0.5px solid black;   
    transform: scale(1.04);
}



/*After completetion*/
.confirm{
    background-color: green;
    color: white;
}
.selected{
    background-color: rgb(0, 124, 165);
    color: white;
}
/*Error*/
.error{
    position: absolute;
    top: 1rem;
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    font-size: 1.5rem;
}
.hidden{
    display: none;
}

